:root {
  --font-color: whitesmoke;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}

Button {
  /* display: flex; */
  width: 5rem;
  height: 5rem;
  background-color: grey;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.score p {
  margin: 0;
  padding: 8px 0;
}
.game-row {
  display: block;
  width: 15rem;
  height: 5rem;
}

.p1_selected {
  background-color: greenyellow;
}

.p2_selected {
  background-color: indianred;
}
